body {
    background-color: #1b1f23;
    color: #e1e2e3;
    font-family: sans-serif;
  }
    
  .container {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    }
    
    .username {
    font-weight: bold;
    margin: 0;
    }
    
    main {
    padding: 1rem;
    }
    
    .history-section {
    background-color: #292C31;
    padding: 1rem;
    margin-bottom: 1rem;
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #1da1f2;
        color: #fff;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0c77e0;
      }