body {
  background-color: #1b1f23;
  color: #e1e2e3;
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #2d3338;
  color: #e1e2e3;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1da1f2;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0c77e0;
}

input[type="file"], input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1da1f2;
  color: #fff;
  cursor: pointer;
}