body {
  background-color: #1b1f23;
  color: #e1e2e3;
  font-family: sans-serif;
}


#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  color: #fff;
  padding: 10px;
}

#search-container input[type="text"] {
  width: 60%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  color: #fff;
  background-color: #141414;
}

#search-container button {
  width: 40%;
  height: 40px;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  border: none;
  color: #fff;
  background-color: #1da1f2;
  cursor: pointer;
}

.filter-container {
  background-color: #191919;
  color: #e1e1e1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.filter-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.filter-container .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.filter-container .filter label {
  font-size: 18px;
  margin-bottom: 0;
}

video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}